* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/* #outer-container {
     background-color:#ffffff;
} */

#container {
  min-height: 100%;
  padding-bottom: 100px; /*this is the height of the footer*/
  /* background-color: #E0E0E0; */
   margin: 20px; /*this will add the optional white border*/
}

/* .container-header {
    vertical-align: middle;
    height: 300px;
    width: 1920px;
    /* margin: 10px; 
}

.container-header p {
    
    font-size: 100px;
    padding-top: 40px;
}

.header-box {
    width: 300px;
    margin-left: 800px;
} */

#main {
  overflow: auto; /*this will give us the scroll bars when more content is on the page*/
}

/* Nav Bar starts here */
 header {
    background-color: black;
    font-family: "Ubuntu";
    font-size:16px;
    font-weight: 500;
    display:flex;
    justify-content: center;
 
}

.nav_links {
    list-style: none;
    margin-left:350px;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
      color: white;
     ;
}

.nav_links li a:hover {
    background: white;
    color: black;
    background-size: inherit;
}

 .searchButton {
  margin: auto;
}

 .searchButton [type=text] {
  border: 1px;
  font-size: 17px;
  margin-left: 200px;

}

 .searchButton button {
  background: #ddd;
  font-size: 17px;
  left: 3px;
  border: none;
  cursor: pointer;
}

/*Nav Bar Ends here */

.parallax {
  background: url(Collaboration-Mistakes-and-How-to-Avoid-Them.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: -160px;
  width: 100%;
  height: 450px;
}

.container-header {
    height: 400px;
    width: 100%;
    z-index: 4;
}   
  
  .header-box {
    float: right;
    padding-right: 60px;
    padding-top: 70px;
  }

  .header-box p {
    font-size: 200px;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    color: #ffffff
  }

.project-post {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  list-style-type: none;
  
}

.post-user-name {
  margin-bottom: 10px;
  font-family: 'Roboto Slab';
}

.post-project-name {
  margin-bottom:10px;
  font-family: 'Roboto Slab';
}

.post-project-description {
  margin-bottom: 10px;
  font-family: 'Roboto Slab';
  size: 10px;
}

#projects-container {
    width: 500px;
    margin-left: 100px;
    float: left;
}

#forum-box-link {
    width: 300px;
    height: 550px;
    float: left;
    border: solid;
    margin-left: 250px;
    margin-top: 60px;
    background-color: #000000;
}

#join-convo {
    margin-top: 65px;
    /* margin-left: 15px; */
    text-align: center;
    display: inline-block;
}

#forum-box-link h2 {
    display: inline-block;
    font-family: 'Helvetica';
    color: #ffffff;
}

#forum-box-link h1 {
    display: inline-block;
    font-family: 'Helvetica';
    color: #FFD700;
}

#submit-a-new-project {
    margin-top: 150px;
    /* margin-left: 15px; */
    text-align: center;
}

#footer {
  height: 100px;
  /*z-index: 19;*/
  /*min-width: 100%;*/
  background-color: #000000;
  position: relative;
  margin-top: -100px; /*this is negative because we set the height of the container to 100px, so
                       it is pushing the footer below the view of the window.  Therefore, we need
                       to make it negative in order for the footer to be visible.*/
  clear: both;
  color: #ffffff;

}

#footer h3 {
    vertical-align: middle;
}

p {
  letter-spacing: 1px;
  text-align: center;
  color: #000000;
}

a {
  color: #ffffff;
}