* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/* #outer-container {
     background-color:#ffffff;
} */

#container {
  min-height: 100%;
  padding-bottom: 100px; /*this is the height of the footer*/
  background-color: #E0E0E0;
  /* margin: 20px; */ /*this will add the optional white border*/
}

.container-header {
    vertical-align: middle;
    height: 300px;
    width: 300px;
    /* margin: 10px; */
}

.container-header p {
    font-size: 100px;
    padding-top: 40px;
}

#main {
  overflow: auto; /*this will give us the scroll bars when more content is on the page*/
}

.header {
  width: 100%;
  height: 80px;
  display: block; /*What's the function of display block?*/
  background-color: #000000; 
}

.inner-header {
  width: 1000px;
  height: 100%;
  display: block; /*What's the function of display block?*/
  margin: 0 auto;
  color: #ffffff;
}

.logo-container {
 height: 100%;
  display: table; /*What's the function of display table?*/
  float: left;

}

.logo {
  height: 100%;
  display: table-cell; /*What's the function of display table-cell?*/
  vertical-align: middle;
}

.logo h4 {
    vertical-align: middle;
}

.nav {
  height: 100%;
  float: right;
}

.nav a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px; /*first is horizontal (which is 0 bc we already centered it) then vertical(
                       is 20 because we want space between the words*/
}

/*
.nav a: last-child {
  padding-right: 0;
} 
*/

.nav a li {
  display: table-cell;
  vertical-align: middle; /*positions the words in the middle vertically*/
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 16px;
}

.project-post {
  margin-bottom: 20px;
  margin-left: 20px;
  list-style-type: none;
}

.post-user-name {
  margin-bottom: 10px;
  font-family: 'Roboto Slab';
  size: 10px;
}

.post-project-name {
  margin-bottom:10px;
  font-family: 'Roboto Slab';
  size: 20px;
}

.post-project-description {
  margin-bottom: 10px;
  font-family: 'Roboto Slab';
  size: 10px;
}

#footer {
  height: 100px;
  /*z-index: 19;*/
  /*min-width: 100%;*/
  background-color: #000000;
  position: relative;
  margin-top: -100px; /*this is negative because we set the height of the container to 100px, so
                       it is pushing the footer below the view of the window.  Therefore, we need
                       to make it negative in order for the footer to be visible.*/
  clear: both;
  color: #ffffff;

}

#footer h3 {
    vertical-align: middle;
}

p {
  letter-spacing: 1px;
  text-align: center;
  color: #000000;
}