/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}

#left{
    border-style: solid;
    border-color: pink;
    padding-right: 30px;
}
#right{
    border-style: solid;
    border-color: mediumseagreen;
    padding-left: 50px;
    }

.btn {
 
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border:1px solid black;
  position:relative; 
  margin: -20px -50px; 
  /* top:50%; */
  left:50%; 
}
.default {
  border-color: #e7e7e7;
  color: black;
  border-radius: 4px;
}

.default:hover {
  background: #e7e7e7;
}

#uploadfile{
    background-image: url('upload.png');
}
#submitbut{
    object-position: left;
    margin-left: 220px;
}

#up{
    height:30px;
    width:35px;
}
#user{
   height:65px;
   width:65px;
}